# Downstream Exploitation of Space Data
## Python Crash Course Part 1: Programming Concepts

### Learning Objectives

You will: 
* be able to define and use variables
* know different data types and how to convert between them
* be faminilar with Python collections
* be able to use loops and conditional statements
* be able to define and use functions

### Using Python as a Calculator

You can use Python as a simple calculator to execute math operations. Press **Shift + Enter** to execute the code cells below.

In [1]:
1 + 1

2

In [2]:
5*5

25

In [3]:
3**2

9

In [4]:
5 > 4

True

If we want to perform a more complex mathematical operation, we can use a function. A function is a piece of code that performs an action. Here are some examples of functions:

In [5]:
print('hello, world') # not math :)

hello, world

In [6]:
sqrt(4)

NameError: name 'sqrt' is not defined

Why didn't it work? This is because we first need to load a module that contains a square root function:

In [ ]:
import math # 'import X' will import everything in the module X

In [ ]:
math.sqrt(4) # after we have imported a module X, we can use a function from it with X.function

### Variables and Data Types

Variables store information that can be used and manipulated in a program.

A variable can be created by assignment, which will associate a name with a value. The symbol of assignment used in Python is the equality sign (=). Let's create a variable:

In [ ]:
my_number = math.pi + 3

No output is printed when a variable is assigned. We can now call a variable and see what happens:

In [ ]:
my_number

We can update the value of this variable by redefining it:

In [ ]:
my_number = 10

In [ ]:
print('The value of our variable is now:', my_number) # we can make the output more informative by combining it with a print statement
# by the way, if you put a # symbol, you will be able to write comments, which is very helpful for people reading you code (and for you)

Another way to update the value is to evaluate an expression on the right-hand side:

In [ ]:
my_number = my_number + 1

This might not make much sense math-wise but = symbol in Python is not used for equality, instead == is. Let's now see what the value of our variable is now:

In [ ]:
my_number

Another (more 'pythonian') way to write the same would be like this:

In [ ]:
my_number += 1
my_number # we can do the assignment and call the variable in the same cell too

A variable in Python can have one of four data types: integer, flot, string, and boolean expression. Below are the examples of each of them:

In [ ]:
x = 5  # integer (int)
y = 3.14  # float
z = 'Hello, world!'  # string (str)
a = True # Boolean expression (bool)

You can check this by calling a type() function:

In [ ]:
type(my_number)

Let's try to add y (float) to my_number (int):

In [ ]:
result = y + my_number
print('Variable result has value', result, 'and type', type(result))

By the way, a way to write this print statement would be using an f-string:

In [ ]:
print(f'Variable result has value {result} and type {type(result)}')

What about adding y to z?

In [ ]:
result2 = y + z

Seems like we can't add floats and strings together. Let's try something else then:

In [ ]:
y_str = str(y)
result2 = y_str + z
result2

This works because we have converted y to a string and saved it in a new variable:

In [ ]:
type(y_str)

You can also convert floats to integers and vice versa with float() and int(), as well as integers to strings with str().

Here are Python naming rules for variables:

* A name must begin with a letter or the underscore character (_) -> *number, num2, Number, _num, _* are valid variable names but for now do now name a variable _
* A name can not begin with a number -> *2num* is not a valid variable name
* A name can contain multiple words linked with an underscore and it is often helful to do so -> *number_stars* is a valid (and informative) variable name
* A name can not be a Python keyword -> *and, if, from, when, while* and other Python keywords are not valid variable names. You will know you typed a keyword when a word turns green
* A name can not be a punctuation, delimiter, or an operator -> *(, ;, +* and other are not valid variable names
* An uppercase and a lowercase name are different -> *num* and *NUM* are different variables
* Try to name your objects in an informative way that allows others (and you) to understand your code -> *abc* is a valid variable name but it is not informative for a variable storing your age, while *my_age* is a good variable name

### Lists

Lists are iterable collections of items of any type (or even mixed types).

The first way to define a list is to use square brackets ([]):

In [ ]:
my_list = ['a', 1, 5.4]
my_list

Another way is to create is from another collection, i.e. a string:

In [ ]:
list_hello = list('hello')
list_hello

Let's chech the type of those objects:

In [ ]:
type(my_list), type(list_hello)

We can check a number of items in a list with a len() function:

In [ ]:
len(my_list)

We can get a certain element in a list by putting its index in square brackets. Let's try to get the first element:

In [ ]:
my_list[1]

Why did we get 1 instead of 'a'? This is because the index of the first element in a collection is 0, not 1:

In [ ]:
my_list[0]

To get the last element, we can use index -1:

In [ ]:
my_list[-1]

The second to last element has index -2, which would be the same as the element with index 1 in our case:

In [ ]:
my_list[-2]

If you try getting an element outside of the index range, you will get an error:

In [ ]:
my_list[3]

It is possible to have a list an an element of a list:

In [ ]:
list_of_lists = [[1,2,3], ['a','b','c']]

If you want to get the second element of the first list, it would look like this:

In [ ]:
list_of_lists[0][1] # the first [] retrieves the first element (list) of the master list, 
# and the second set of [] gets the element from it

Here are some common list operations:

In [ ]:
example_list = [1, 2, 1, 6, 4, 1, 5] # defining a new list to experiment on
example_list

In [ ]:
del example_list[-1] # removes the element with a specified index
example_list

In [ ]:
example_list.pop(-1) # removes the element with a specified index
example_list

In [ ]:
example_list.remove(1) # removes the first element that is equal to a specified value (not index!)
example_list

In [ ]:
example_list.append(5) # adds and element with a specificed value to the end of the list
example_list

In [ ]:
example_list[-1] = 2 # assignes the element with a specified index a value on the right hand side of the assignment
example_list

In [ ]:
example_list.count(2) # returns a number of instances in a list equal to a specified value

In [ ]:
example_list.index(2) # returns the index of the first occurance of an element matching a specificed value

In [ ]:
example_list.reverse() # reverses a list
example_list

In [ ]:
example_list.sort() # sorts a list
example_list

An important list manipulation tool is slicing, which allows you to create subsequences:

In [ ]:
example_list[1:] # slice starting from a specified index and up to the end of the list

In [ ]:
example_list[:-2] # slice starting from the beginning of the list and going up to (but not including) a specified index

In [ ]:
example_list[1:-2] # slice starting from the first specified index and going up to (but not including) the second specified index

In [ ]:
example_list[::2] # slice ranging the entire list, containing every second element

In [ ]:
example_list[::-1] # step backwards from the end of the list

In [ ]:
example_list[::-2] # step backwards from the end of the list but only with every second element

In [ ]:
copy_list = example_list[:] # copy of the original list
copy_list

### Tuples

Tuples are immutable lists. They have the same features, except tuples can not be modified.

A tuple is defined with a comma:

In [ ]:
my_tuple = 1, 2, 3
my_tuple

A tuple of a single element is therefore defined like this:

In [ ]:
tup = (1,)
tup

List operators that do not modify elements will also work on tuples:

In [ ]:
my_tuple[-1]

In [ ]:
len(tup)

But trying to modify a tuple will give an error:

In [ ]:
tup.append(2)

A tuple can be create from a list:

In [ ]:
list_to_tup = tuple(my_list)
print(list_to_tup, type(list_to_tup))

And vice versa:

In [ ]:
tup_to_list = list(my_tuple)
print(tup_to_list, type(tup_to_list))

### Sets

Sets are collections in which only one copy of an element can exist.

A set is defined with curly brackets ({}):

In [ ]:
my_set = {1, 2, 3}
my_set

We can also create a set with a set(), i.e. by converting a list to a set:

In [ ]:
set_from_list = set(list_hello)
set_from_list

Note that 'l' appears only once, unlike in the list we made the set from.

List operations will also work on sets. Let's define two sets and perform some set-specific operations on them:

In [ ]:
a_set = {'a','b','c','d'}
b_set = {'c','d','e','f'}

In [ ]:
a_set & b_set # intersection (common elements)

In [ ]:
a_set.intersection(b_set) # another way to do it

In [ ]:
a_set.intersection('bq') # another way (not with a b_set but with a a set {'b', 'q'})

In [ ]:
a_set | b_set # union (all elements of both sets)

In [ ]:
a_set.union(b_set) # another way to do it

In [ ]:
a_set.union(['b', 'q']) # another way (not with a b_set)

In [ ]:
a_set - b_set # difference (elements in the first but NOT in the second set)

In [ ]:
b_set - a_set # here, the order matters

In [ ]:
a_set.difference(b_set) # another way to do it

In [ ]:
b_set.difference(a_set) # order also matters here

In [ ]:
a_set ^ b_set # symmetric difference (unique elements in both sets) -> opposite of itnersection

In [ ]:
a_set.symmetric_difference(b_set) # another way to do it

### Conditional statements

An if-statement is a control mechanism, which allows to selectively execute commands.

An if-statement does the following:

* A boolean expression is evaluated
* If it is true, the indented part of code is executed
* If it is false, the indented part of code is ignored

Let's define a number:

In [ ]:
number = 10

Let's now write our first conditinal statement:

In [ ]:
if number > 0: # boolean expression
    print('The number is positive.') # code that will be executed if is true

Let's now try to do the same with a number that is less than 0.

In [ ]:
number2 = -1

In [ ]:
if number2 > 0:
    print('The number is positive.')

Nothing happened - why? Because the boolean expression is false, so the indented code was ignored. What is we wanted to print something in this situation? We can then use an if-else statement to execute another piece of code if the expression is false:

In [ ]:
if number2 > 0: # boolean expression
    print('The number is positive.') # code that will be executed if is true
else:
    print('The number is not positive.') # code that will be executed if is false

Ok, great! Now, if there are more than two options, we can use an if-elif-then statement:

In [ ]:
number3 = 0

In [ ]:
if number3 == 0: # boolean expression (== means we check for equality)
    print('The number is a zero.') # code that will be executed if is true
elif number3 > 0: # a boolean expression that will only be evaluated if the first one was false
    print('The number is positive.') # code that will be executed if the second one is true
else:
    print('The number is not positive.') # code that will be executed if the second one is false

It is possible to have nested if statements:

In [ ]:
persons_age = 25

In [ ]:
if persons_age > 18:
    if persons_age < 65:
        print("A person is an adult.") # by the way, we can use double quotes instead of single ones for strings
    else:
        print("A person is a senior citizen.")
else:
    print("A person is a minor.")

### for-statement

A for-statement allows to iterate through a collection (string, list, tuple, etc.):

In [ ]:
for letter in 'space':
    print(letter)

You can also use it to do it a certain number of times:

In [ ]:
for i in range(5): # remember that we start counting from 0, so this will count 5 times (from 0 to 4)
    print(i)

In [ ]:
for i in range(1,5): # if you don't want to count from 0, you can specify the start of the range
    print(i)

Let's try to combine a for-statement with an if-statement:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
for number in numbers:
    if number == 4:
        break  # exit loop when number is 4
    if number % 2 == 0: # a modulo operator (%) checks what is the remainder when dividing by a specified integer
        continue  # skip even numbers
    print('Odd number:', number)
else: # only executed if the loop ends normally, without breaking
    print('Loop completed without break.')

What happened here? This piece of code printed only odd number from a list. But why without 5 and 7? This is because we broke from the loop with a break statement (immediate exit from a loop). This also skipped the else-statement, as it is only executed when the loop is executed without breaking.

### while-statement

A while-statement allows to execute code until a certain condition is met:

In [ ]:
i = 0 # 'sentinel' that controls the loop
while i < 5: # check for this condition
    print(i)
    i += 1 # inrease the sentinel value by 1, otherwise the loop will run forever

Just like with for-loops, a while loop can contain break and else statements:

In [ ]:
j = 0
while j < 5:
    if j == 3:
        print('Breaking the loop.')
        break
    print('Value of j:', j)
    j += 1
else:
    print('Loop completed without break.')

It is possible to write a while-loop that behaves like a for-loop:

In [ ]:
for i in range(5):
    print(i)

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

But not very while-loop can be made into a for-loop:

In [ ]:
import random

In [ ]:
number = random.randint(1, 5)

while number != 3: # continue looping until the number equals 3
    print(f"Number is {number}")
    number = random.randint(1, 5)

### Dictionaries

A dictionary is a collection of items in key-value pairs:

In [ ]:
my_dict = {
    'course': 'Downstream',
    'ECTS': 2,
    'exam': False,
    'evaluation': 'report',
}

In [ ]:
my_dict

Here, *course, ECTS, exam, evalution* are keys, and each of them has a corresponding value.

We can access a value by key:

In [ ]:
my_dict['course']

Here are some common dictionary operations:

In [ ]:
len(my_dict) # number of key-value pairs

In [ ]:
'ECTS' in my_dict # checks for membership

In [ ]:
for key in my_dict: # iteration through keys
    print(key)

In [ ]:
for key in my_dict:
    print(key, my_dict[key]) # same but now printing both keys and values

In [ ]:
my_dict.items() # all key-value pairs as tuples

In [ ]:
my_dict.keys() # all keys in a list

In [ ]:
my_dict.values() # all values in a list

In [ ]:
my_dict['program'] = 'Space Studies' # adding a new key-value pair
my_dict

### Functions

Functions are a way to decompose a problem. In functional programming, a problem is broken down into a number of functions, which can be reused.

We have already seen some functions, for example:

In [ ]:
type(my_dict)

But we can also define our own function like this:

In [ ]:
def celsius_to_fahrenheit(celsius_float): # def keyword is followed by a name of the function with arguments in ()
    return celsius_float * 1.8 + 32 # return keyword is followed by what a function will return

Nothing happened - why? This is because we only defined a function but have not called it yet. Let's do it:

In [ ]:
celsius_to_fahrenheit(10)

We can save the output in a variable:

In [ ]:
result = celsius_to_fahrenheit(0)
result

Let's define some more functions:

In [ ]:
def greet(name, age):
    print(f'Hello, {name}! You are {age} years old.')

In [ ]:
greet('Nik', 26) # here we use positional arguments -> we pass the arguments in the order we have defined the function

In [ ]:
greet(age=26, name='Nik') # here we use keyword arguments -> we pass the arguments in a key-value pair

In [ ]:
def make_pizza(size='medium', topping='cheese'): # this function has default values that will be called when no argumanets are passed
    print(f'Making a {size} pizza with {topping}.')

In [ ]:
make_pizza()

In [ ]:
make_pizza(size='small') # this will call it with a non-default value for size

In [ ]:
make_pizza(size='large', topping='sausage') # this will call it with non-default values for both arguments

In [ ]:
def calculate_sum(*numbers): # this function uses variable-length positional arguments -> everything we pass will be collected in a tuple
    total = sum(numbers)
    print(f'The sum is {total}.')

In [ ]:
calculate_sum(1, 2, 3, 4, 5)

In [ ]:
def display_profile(**profile): # this function uses variable-length keyword arguments
    for key, value in profile.items(): # -> everything we pass will be made into key-value pairs in a dictionary
        print(f'{key}: {value}')

In [ ]:
display_profile(name='Nik', age=26, profession='researcher')

What we had above is a function without a return statement - this is called a process. Here is another example:

In [ ]:
def study_for_exam():
    '''
    To help other people (and you!) to read your code, you can add comments to functions surrounded by tripple quotation marks.
    '''
    print('Rewatch recordings.')
    print('Read notes.')
    print('Solve problems.')

In [ ]:
study_for_exam()

When you need a small function that you are not planning on reusing, you can have a lambda (anonymous function).

It is defined as follows:
*lambda arguments: expression*

In [ ]:
square = lambda x: x ** 2 # x is an argument, and the expression (result) is x**2
print(square(5))

In [ ]:
add = lambda x, y: x + y # multiple arguments
print(add(3, 7))

In [ ]:
is_even = lambda x: 'Even' if x % 2 == 0 else 'Odd' # expression is a compact if-else statement
print(is_even(4))

You don't have to be able to write lambda expressions for this course but it's a nice concept to know :)

### Exercises

Below are 5 exercises in order of increasing difficulty for the topics covered above:

#### 1.1. for-loops

Create an empty list. Use a for-loop to add numbers from 1 to 10 for it. Write another for-loop that print 'Even' for even numbers and 'Odd' for odd numbers but breaks when you get to number 7.

In [ ]:
# create an empty list

In [ ]:
# populate a list

In [ ]:
# print even/odd

#### 1.2. while-loops

Write a while loop that simulates a dice roll until a 6 is rolled. Use Pythons random.randint to generate random numbers between 1 and 6. Print each dice roll and stop once you roll a 6.

In [ ]:
# import a needed module

In [ ]:
# initialize a variable to store a current roll as 0

In [ ]:
# while loop

#### 1.3. List operations

Check whether a nested list below has a letter 'a' as an element (hint: take a look at isinstance()):

In [ ]:
nested_list = [1, 2, ['b', 'c'], [4, [5, 'a']]]

In [ ]:
# check

#### 1.4. Dictionaries

Count the number of times each letter is used in a string below using a dicrionary (hint: tale a look at isalpha()):

In [ ]:
string = 'this is a string we will be using'

In [ ]:
word_count_dict = {}

In [ ]:
# count

#### 1.5. Functions

Define the following functions:
* generate_sequence(n): Takes an integer n as input and returns a list of the first n positive integers.
* filter_even_numbers(sequence): Takes a list of numbers as input and returns a new list containing only the even numbers from the input list.
* calculate_sum_of_squares(even_numbers): Takes a list of even numbers as input and returns the sum of their squares.
* process_sequence(n): Combines all three functions: by calling generate_sequence(n) to create the initial list, passing the result to filter_even_numbers to filter out odd numbers, then passing the filtered result to calculate_sum_of_squares to calculate the sum of squares of the even numbers, and returning the final sum.

In [ ]:
# generating a sequence

In [ ]:
# filtering out even numbers

In [ ]:
# calculating a sum of squares

In [ ]:
# combining all of them

### Solutions

Below are the solutions with comments to the exercises from above:

#### 1.1. for-loops

In [ ]:
# create an empty list
numbers = []

In [ ]:
# populate a list 
for i in range(1, 11):
    numbers.append(i)

In [ ]:
numbers

In [ ]:
# print even/odd
for num in numbers:
    if num % 2 == 0: # when a modulo equals to 0, the number is even
        print(f'{num}: Even')
    else:
        print(f'{num}: Odd')
    
    if num == 7:  # breaking at 7
        break

#### 1.2. while-loops

In [ ]:
# import a needed module
import random

In [ ]:
# initialize a variable to store a current roll as 0
dice_roll = 0

In [ ]:
# while loop
while dice_roll != 6: # condition that the roll is not 6
    dice_roll = random.randint(1, 6)  # roll the dice
    print(f'Dice rolled: {dice_roll}')

#### 1.3. List operations

In [ ]:
def contains_a(nested_list):
    for element in nested_list:
        if isinstance(element, list):  # check if the element is a list
            if contains_a(element):  # recursively check the nested list
                return True
        elif element == 'a':  # check if the element is 'a'
            return True
    return False

In [ ]:
nested_list = [1, 2, ['b', 'c'], [4, [5, 'a']]]

In [ ]:
contains_a(nested_list)

In [ ]:
nested_list_2 = [1, 2, ['b', 'c'], [4, [5, 'd']]]
contains_a(nested_list_2)

#### 1.4. Dictionaries

In [ ]:
for char in string:
    if char.isalpha():  # only consider alphabetic characters
        if char in word_count_dict:
            word_count_dict[char] += 1  # increment the count if the character is already in the dictionary
        else:
            word_count_dict[char] = 1  # initialize the count if the character is not in the dictionary

print(word_count_dict)

#### 1.5. Functions

In [ ]:
def generate_sequence(n):
    '''
    Generates a sequence of the first n positive integers.
    '''
    return list(range(1, n + 1))

In [ ]:
test1 = generate_sequence(5)
test1

In [ ]:
def filter_even_numbers(sequence):
    '''
    Filters and returns only the even numbers from the input list.
    '''
    even_numbers = []
    for num in sequence:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers

In [ ]:
test2 = filter_even_numbers(test1)
test2

Another way to do this is with list comprehension, using a formula *element for element in collection if ...*:

In [ ]:
def filter_even_numbers2(sequence):
    '''
    Filters and returns only the even numbers from the input list.
    '''
    return [num for num in sequence if num % 2 == 0] # if you put the return in [] it will create a list

In [ ]:
test21 = filter_even_numbers2(test1)
test21

In [ ]:
def calculate_sum_of_squares(even_numbers):
    '''
    Calculates and returns the sum of squares of the even numbers.
    '''
    total = 0
    for num in even_numbers:
        total += num ** 2
    return total

In [ ]:
test3 = calculate_sum_of_squares(test2)
test3

This can also be done with list comprehension but this time we do not need an if-statement:

In [ ]:
def calculate_sum_of_squares2(even_numbers):
    '''
    Calculates and returns the sum of squares of the even numbers.
    '''
    return sum(num ** 2 for num in even_numbers)

In [ ]:
test31 = calculate_sum_of_squares(test2)
test31

In [ ]:
def process_sequence(n):
    '''
    Combines all three functions to:
    1. Generate a sequence of the first n positive integers.
    2. Filter out only the even numbers from the sequence.
    3. Calculate the sum of squares of the even numbers.
    '''
    sequence = generate_sequence(n)
    even_numbers = filter_even_numbers(sequence)
    return calculate_sum_of_squares(even_numbers)

In [ ]:
test5 = process_sequence(5)
test5